<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div class="container h-100">
    <div class="row h-100 g-4">
      
      <!-- JSON Input Column -->
      <div class="col-lg-5 d-flex flex-column">
        <div class="card shadow flex-grow-1 d-flex flex-column">
          <div class="card-header bg-primary text-white fw-bold text-center">JSON Input</div>
          <div class="card-body d-flex flex-column">
            <textarea id="jsonInput" [(ngModel)]="jsonInput"  (input)="processData()" class="form-control flex-grow-1" placeholder="Enter JSON here..."></textarea>
          </div>
        </div> 
      </div>

      <!-- Key Search Column -->
      <div class="col-lg-2 d-flex align-items-center">

        <div class="card shadow w-100">
          <div class="card-body text-center">
            <label for="key" class="form-label fw-bold">Enter Key:</label>
            <input type="text" id="key" [(ngModel)]="key" class="form-control mb-3 text-center">
             <!-- Generated keys -->
            <div class="scrollable-container">
              <div *ngFor="let key of availableKeys">
                <label>
                  <input type="checkbox" [(ngModel)]="selectedKeys[key]" (change)="updateData()">
                  {{ key }}
                </label>

              </div>

            </div>
            <div *ngIf="availableKeys.length > 0">
              <button (click)="selectAll()" class="btn btn-success w-100">Select All</button>
              <button (click)="deselectAll()" class="btn btn-info w-100 mt-2">Deselect All</button>
            </div>
            
            <button (click)="processData()" class="btn btn-primary w-100 mt-2">Find Key</button>
            <button (click)="clearKey()" class="btn btn-warning w-100 mt-2">Clear</button>
          </div>
          <div class="p-2">

            <a href="https://github.com/blokkies48/json_key_finder" target="_blank" class="mb-3">
              <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.49.5.092.683-.217.683-.483 0-.237-.009-.866-.014-1.7-2.782.603-3.369-1.342-3.369-1.342-.455-1.157-1.11-1.466-1.11-1.466-.907-.62.069-.607.069-.607 1.004.07 1.531 1.03 1.531 1.03.892 1.529 2.34 1.087 2.91.831.092-.646.35-1.086.636-1.337-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.682-.103-.253-.446-1.273.097-2.656 0 0 .84-.269 2.75 1.026a9.563 9.563 0 0 1 2.5-.336c.849.004 1.705.114 2.5.336 1.909-1.295 2.748-1.026 2.748-1.026.545 1.383.202 2.403.1 2.656.641.698 1.027 1.591 1.027 2.682 0 3.841-2.339 4.687-4.566 4.936.36.31.679.921.679 1.855 0 1.34-.012 2.417-.012 2.744 0 .268.18.58.688.481A10.002 10.002 0 0 0 22 12c0-5.523-4.477-10-10-10z"/>
              </svg>
            </a> 
          </div>
        </div>

      </div>

      <!-- Output Column -->
      <div class="col-lg-5 d-flex flex-column">
        <div class="card shadow flex-grow-1 d-flex flex-column">
          <div class="card-header bg-success text-white fw-bold text-center">Output</div>
          <div class="card-body d-flex flex-column">
            <textarea id="output" class="form-control flex-grow-1" [ngClass]="{'border-danger text-danger bg-light': isError}" [value]="output" readonly placeholder="Processed JSON output..."></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
