.container-fluid {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .container {
    max-width: 100%;
    text-align: left;

  }
  
  .row {
    height: 100%;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
  }
  
  textarea {
    resize: none;
    border: none;
    outline: none;
  }
  
  .card-header {
    font-size: 1.2rem;
  }
  
  button {
    font-weight: bold;
  }
  
  .scrollable-container {
    max-height: 40vh;  /* Set your desired max height here */
    overflow-y: auto;   /* Enable vertical scrolling if content exceeds max height */
    text-align: left;
  }